.heroButton {
    background: linear-gradient(135deg, #ff33cc 0%, #c24c69 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    transition: 1s;
}

.heroButton:hover {
    transform: scale(1.05);
   
    transition: all 0.3s ease;

}

.hero {
    background: linear-gradient(135deg, #ff33cc 0%, #9900ff 100%);
    padding: 10px;
    box-shadow: 0 4px 15;
}