.heroButton {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(178, 178, 180, 0.5));
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    transition: 1s;
}
.heroButton:hover {
    transform: scale(1.05); /* ขยายขนาดขึ้น 5% */
    transition: all 0.3s ease;

}
.hero{
      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      padding: 10px;
      box-shadow:0 4px 15;
}
